.about-container {
  height: 100vh;
  width: 100%;
  font-size: 18px;
}
.about-text {
  padding: 50px 200px;
}

.button-bar {
  align-items: center;
  margin-left: -30px;
}

.button-bar img {
  height: 65px;
  width: auto;
}


@media screen and (max-width: 1000px) {
  .about-text {
    padding: 50px 75px;
  }
}