.name-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(31, 31, 31);
}

.name-wrapper {
  margin-bottom: 120px;
}
.name-wrapper h1 {
  font-weight: bold;
  font-size: 48px;
  margin: 0px;
  margin-bottom: -16px;
}
.name-wrapper h2 {
  font-weight: 400;
  font-size: 32px;
  margin: 0px;
  margin-bottom: 0px;
}
.name-wrapper h3 {
  font-weight: 300;
  font-size: 20px;
  margin: 0px;

}