.container {
  height: 100vh;
  width: 100%;
  border-bottom: 1px solid white;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

img {
  height: 550px;
  margin: 10px auto;  
  padding: 20px;
}

@media screen and (max-width: 1105px){
  img {
    height: 500px;
  }
  .container {
    height: 100%;
  }
  .image-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
}
  
@media screen and (max-width: 650px){
  img {
    height:auto;
    width: 100%;
  }
  .image-wrapper {
    padding: 20px;
    
  }
}